/*全局通用*/

.celan_div {
	height: 160px;
	border-radius: 20px;
	margin-top: 30px;
}

.celan_div1 {
	height: 120px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.celan_img {
	margin-left: -50px;
	width: 350px;
}

.celan_img1 {
	width: 80px;
	margin-top: -30px;
}

.celan_div2 {}

.celan_sp {
	color: #525ba6;
}

.celan_sp1 {
	color: #939eed;
}

.celan_sp2 {
	color: #97f3aa;
}

.celan_sp3 {
	color: #4deeb7;
}

.celan_sp4 {
	color: #fab162;
}

.celan_sp5 {
	color: #ff74e0;
}

.celan_sp6 {
	color: #f6909e;
}


.index_p {
	color: #8f8f94;
}

.about_div {
	border: #FFFFFF 1px solid;
	height: auto;
	width: 100%;
}

.about_div1 {
	border: #FFFFFF 1px solid;
	height: 60px;
	width: 50%;
	float: left;
	border-right-color: #bec6c8;
	border-bottom-color: #bec6c8;
}

.about_div2 {
	border: #FFFFFF 1px solid;
	height: 60px;
	width: 50%;
	float: right;
	border-bottom-color: #bec6c8;
}

.about_div3 {
	border: #bec6c8 1px solid;
	margin-top: 5px;
	width: 100%;
	height: auto;
	float: left;
	border-radius: 20px;
}

.about_div4 {
	background: #9499cb;
	color: #FFFFFF;
	font-size: 20px;
	height: 30px;
	padding: 4px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.color_lanse {
	color: #6EB2E3;
}

.text-align {
	text-align: center;
}

.text-danhongse {
	color: #2AC845;
}

.background {
	background-color: #FFFFFF;
}

.pa {
	padding-top: 10px;
}

.yingyin {
	box-shadow: 5px 5px 5px #bfbfbf;
}

.ov {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ov3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.bor_ra {
	border-radius: 10px;
}

.width3 {
	width: 33.3333%;
}


/*Shopping-list*/

.Shopping_hf {
	border: #6B8698 1px solid;
	width: 50%;
	border-radius: 10px;
	margin-top: 20px;
}

.Shopping_bk {
	border: #6B8698 1px solid;
	height: 100px;
	border-radius: 5px;
	border-top: #93c0f1 4px solid;
	margin: 10px;
	padding: 30px;
}

.Shopping_bk1 {
	border: #6B8698 1px solid;
	height: 100px;
	border-radius: 5px;
	border-top: #848ac0 4px solid;
	margin: 10px;
	padding: 30px;
}

.Shopping_bk2 {
	border: #6B8698 1px solid;
	height: 100px;
	border-radius: 5px;
	border-top: #F6909E 4px solid;
	margin: 10px;
	padding: 30px;
}

.Shopping_bk3 {
	border: #6B8698 1px solid;
	height: 100px;
	border-radius: 5px;
	border-top: #0088CE 4px solid;
	margin: 10px;
	padding: 30px;
}

.Shopping_bk4 {
	border: #6B8698 1px solid;
	height: 100px;
	border-radius: 5px;
	border-top: #06ba2b 4px solid;
	margin: 10px;
	padding: 30px;
}

.Shopping_leift {
	margin-left: 3%;
}

.Shopping_txt {
	color: #FAA7AA;
	font-size: 20px;
}

.Shopping_zb {
	font-size: 13px;
}

.Shopping_zbtop {
	margin-top: 15px;
}


/*Ordernews*/

.orne_d1 {
	height: 280px;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.orne_ddbh {
	font-size: 10px;
	color: #969896;
}

.orne_li {
	width: 50%;
	float: left;
}

.orne_name {
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.orne_fahuo {
	padding: 10px;
	font-size: 12px;
	margin-top: -15px;
	overflow: hidden;
}

.orne_spfh {
	color: #EC971F;
	border: #EC971F 1px solid;
}

.orne_hj {
	font-size: 13px;
	padding-left: 10px;
}

.orne_ckwl {
	border-top: #e2e2e2 1px solid;
}

.orne .orne .orne .orne
/*界面二*/

.index2_div {
	height: 70px;
	width: 10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #97f3aa;
	float: left;
	position:
}

.index2_float {
	float: left;
}

.index2_img {
	width: 66px;
	height: 66px;
	margin-left: 10px;
	margin-top: 2px;
	position:
}


/*rhead*/

.read_span {
	color: #FF0000;
}

.read_div {
	border: #2AC845 1px solid;
	height: auto;
}

.read_div1 {
	background: #2AC845;
	height: 30px;
	text-align: center;
	color: #FFFFFF;
	padding: 3px 0px;
}


/*0.5版本login界面*/

.lg_body {
	height: 100%;
}

.lg_div {
	border: #CCCCCC 1px solid;
	margin-top: 50%;
	float: left;
	height: 300px;
	width: 90%;
	margin-left: 5%;
	background: #FFFFFF;
	opacity: 0.8;
	border-radius: 20px;
}

.lg_imgg {
	width: 200px;
	margin-top: -120px;
}

.lg_recpass {
	margin-top: 10px;
	border-radius: 20px;
}

/*scheduleone*/

.myrc_div {
	border: #FFFFFF 1px solid;
	height: 160px;
	border-radius: 10px;
	background: #FFFFFF;
	opacity: 0.9;
	width: 95%;
	margin: 10px auto;
}

.myrc_div1 {
	border: #fff 1px solid;
	height: 30px;
	margin-top: 10px;
	border-bottom-color: #D3D4D3;
	line-height: 1;
}

.myrc_div2 {
	height: 28px;
	width: 70px;
	float: left;
	background: #039cae;
	color: #FFFFFF;
	padding: 3px;
}

.myrc_title {
	float: left;
	padding: 3px;
}

.myrc_div3 {
	border: #FFFFFF 1px solid;
	height: 90px;
	border-bottom-color: #D3D4D3;
}

.myrc_center {
	width: 50%;
	float: left;
	height: 100px;
}

.myrc_center_title {
	font-size: 15px;
	color: #aca4a4;
	margin-top: 5px;
}

.myrc_center_time {
	font-size: 20px;
	margin-top: 5px;
}

.myrc_center_shijian {
	color: #aca4a4;
	font-size: 13px;
}

.myrc_foot_img {
	height: 30px;
	padding: 2px;
	text-align: right;
	margin-right: 15px;
}

.myrc_foot_text {
	color: #039cae;
	font-size: 17px;
	float: right;
	line-height: 0.5;
}


/*newstwo*/

.newstwo_div {
	background: #FFFFFF;
	height: 100%;
}

.newstwo_div1 {
	position: relative;
}

.newstwo_div2 {
	height: 60%;
}

.newstwo_div3 {
	height: 100%;
	width: 85%;
	margin-left: 15%;
}

.newstwo_div4 {
	border: #BBBBBB 1px solid;
	height: 90%;
	width: 1px;
	margin-left: 15%;
	float: left;
}

.newstwo_nav {
	width: 100%;
	position: absolute;
	z-index: 10;
	padding: 15px;
}

.newstwo_center {
	margin-left: -50px;
	text-align: center;
	font-size: 13px;
	color: #999999;
	float: left;
}

.newstwo_center1 {
	padding-top: 9px;
	margin-left: -6px;
	color: #939EED;
	float: left;
}

.newstwo_center2 {
	padding-top: 11px;
	float: left;
	margin-left: 5px;
}

.newstwo_foot {
	position: fixed;
	bottom: 30px;
	width: 100%;
	height: 50px;
}

.newstwo_foot_button {
	height: 50px;
	width: 50px;
	background: #6caef6;
	border-radius: 50px;
	float: right;
	margin-right: 20px;
}

.newstwo_foot_img {
	width: 50px;
}


/*trip*/

.trip_ul {
	background-color: #efeff4;
}

.tri_li_left {
	height: 150px;
	border-radius: 10px;
	background: #FFFFFF;
	overflow: hidden;
	position: relative
}

.tri_li_div1 {
	width: 30%;
	height: 150px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #6EB2E3;
	overflow: hidden;
	text-align: center;
	padding: 10px;
}

.tri_li_p {
	color: #FFFFFF;
}

.tri_li_span {
	color: #FFFFFF;
	font-size: 1.5em;
}

.tri_li_div2 {
	position: absolute;
	bottom: 10px;
	color: #FFFFFF;
}

.tri_li_right {
	height: 150px;
	overflow: hidden;
	padding: 20px;
	position: relative;
}

.tri_li_cardzh {
	position: absolute;
	bottom: 7px;
}

.tri_li_cardzh_p {
	font-size: 0.7em;
}

.tri_li_cardzh_dv {
	margin-left: 2em;
}

.tri_li_hr {
	border: none;
	border-top: 1px dotted #6EB2E3;
}


/*trip-details*/

.tripdetails_topbg {
	background: #6EB2E3;
	height: 100px;
}

.tripdetails_card {
	height: 200px;
	margin: 10px;
	border-radius: 10px;
	margin-top: -70px;
	background: #5592bd;
}

.tripdetails_card_a {
	height: 70px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #FFFFFF;
	padding-top: 15px;
}

.tripdetails_card_span {
	font-size: 14px;
}

.tripdetails_card_text {
	color: #FFFFFF;
}

.tripdetails_span1 {
	color: #70B2F9;
	padding-right: 15px;
}

.tripdetails_ul {
	margin-top: 30px;
}

.tripdetails_topbg
/*
 * Other
 */
/*newtwoadd*/

.newstwoadd_head {
	background: #FFFFFF;
}

.newstwoadd_textarea {
	height: 150px;
}

.newstwoadd_textarea1 {
	height: 100px;
	margin-top: 20px;
}

.newstwoadd_ul1 {
	margin-top: 20px;
}

.newstwoadd_div {
	background: #FFFFFF;
}

.newstwoadd_div1 {
	width: 40%;
	float: left;
	margin-top: 17px;
	text-align: center;
}

.newstwoadd_text {
	color: #7C8083;
}

.newstwoadd_text1 {
	color: #7C8083;
	margin-top: 10px;
}

.newstwoadd_text2 {
	margin-top: 10px;
}

.newstwoadd_text3 {
	color: #828589;
	float: right;
	padding-right: 25px;
	font-size: 15px;
}

.newstwoadd_img {
	width: 20%;
	float: left;
	padding-top: 20px;
}


/*other-business-card.html*/

.business_content {
	background: #FFFFFF;
}

.business_topbg {
	background: #6b8698;
	height: 250px;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 30%;
}

.business_topbg_icon {
	color: #FFFFFF;
}

.business_topbg_user {
	width: 106px;
	position: relative;
}

.business_name_card {
	height: 130px;
	margin: 25px;
	margin-top: -80px;
	background: #6EB2E3;
	border-radius: 10px;
}

.business_name_card_div {
	padding: 20px;
	color: #FFFFFF;
	font-size: 20px;
}

.business_name_card_namecn {
	margin-left: 18%;
}

.business_name_card_nameen {
	font-size: 15px;
	margin-top: 3px;
	margin-left: 3px;
}

.business_name_card_nameen_top {
	margin-top: 13px;
}

.business_name_ul {
	margin-top: 50px;
}

.business_name_ul_icon {
	padding-left: 30px;
}

.business_name_ul_span {
	padding-left: 50px;
}

.business_foot {
	height: 70px;
	margin: 20px;
	background: #6EB2E3;
	border-radius: 50px;
	margin-top: 50px;
}

.business_foot_div {
	padding: 15px;
	color: #FFFFFF;
	font-size: 20px;
	margin-left: 7px;
	text-align: center;
}

.business_foot_div_text {
	font-size: 10PX;
	margin-top: 3PX;
}


/*other-Personal-Center*/

.Personal_topbg {
	height: 250px;
	background: #3EA0FB;
}

.Personal_uerimg {
	display: block;
	margin: auto;
	width: 90px;
	padding-top: 50px;
}

.Personal_top_text {
	width: 33%;
	text-align: center;
	margin-top: 10px;
	color: #FFFFFF;
}

.Personal_top_span {
	font-size: 13px;
}

.Personal_dingdan {
	margin: 10px;
	height: 120px;
	background: #FFFFFF;
	border-radius: 15px;
	margin-top: -40px;
}

.Personal_mydd {
	padding-left: 10px;
	padding-top: 10px;
}

.Personal_mydd_colo {
	font-size: 25px;
	color: #DDAD69;
	margin-right: 10px;
}

.Personal_mydd_span {
	font-size: 15px;
}

.Personal_mydd_div {
	text-align: center;
	width: 25%;
}

.Personal_mydd_p {
	margin-top: 5px;
	font-size: 11px;
}

.Personal_ul {
	margin: 10px;
	border-radius: 10px;
}

.Personal_ul_icon {
	font-size: 22px;
	color: #6E91AC;
}

.Personal_mdyy_div2 {
	text-align: center;
	width: 25%;
	margin-top: -7px;
}


/*other-eatmenu*/

.eatmenu_divnar {
	background: #3E4658;
	height: 130px;
}

.eatmenu_narspan {
	color: #FFFFFF;
}

.eatmenu_xxk {
	margin-top: 70px;
}

.eatmenu_xxkcolor {
	color: #9a9a9a;
}

.eatmenu_order {
	border-radius: 20px;
	background: #FFFFFF;
	width: 120px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	padding-top: 3px;
	margin-top: 6px;
	color: #55AAE8;
	margin-left: 35%;
}

.eatmenu_group {
	margin-top: 40px;
}

.eatmenu_content {
	height: 140px;
	border-radius: 10px;
	background: #FFFFFF;
}

.eatmenu_img {
	width: 50px;
	border-radius: 10px;
}

.eatmenu_btn {
	width: 45%;
}

.eatmenu_bc {
	color: #32AAFF;
}

.eatmenu_card {
	background: #32AAFF;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	margin-left: 20px;
	color: #FFFFFF;
	padding-top: 8px;
}

.eatmenu_foot {
	margin-top: 9px;
}

.eatmenu_fd {
	overflow: hidden;
}

.eatmenu_fd1 {
	overflow: hidden;
	padding: 10px;
}

.eatmenu_font_top {
	padding-top: 4px;
}


/*business2-card.html*/

.business2_head {
	height: 250px;
	background: #0088CE;
	overflow: hidden;
}

.business2_border {
	border: #FFE08D 1px solid;
	border-radius: 10px;
	height: 200px;
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
}

.business2_img {
	width: 100px;
	margin-top: 10%;
}

.business2_name {
	background: #FFE08D;
	height: 50px;
	overflow: hidden;
}

.business2_nd {
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold
}


/*blog_sy.html*/

.blog_sy_grxx {
	height: 130px;
	width: 80%;
	margin: -50px auto;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #bfbfbf;
	position: relative;
}

.blog_sy_ztp {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 53px;
	left: -25px;
	background-color: #68a8ef;
	border-radius: 3px;
}

.blog_sy_ztp_icon {
	color: #FFFFFF;
	margin: 13px;
}

.blog_sy_tx {
	width: 80px;
	border-radius: 10px;
	margin: 20px;
	margin-left: 30px;
}

.blog_sy_pa {
	padding: 15px 0px;
}

.blog_sy_txzh {
	margin-top: 70px;
	padding: 10px 30px;
}

.blog_sy_txzh_ku {
	height: 100px;
	width: 250px;
	background-color: #FFFFFF;
	border-radius: 3px;
}

.blog_sy_txzh_ku_nr {
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 20px;
	color: #989898;
}

.blog_sy_fenlei {
	padding: 10px 30px;
}

.blog_sy_ul {
	border: #d8d8d8 1px solid;
	border-radius: 10px;
}

.id_msg label {
	width: 30%;
}

.id_msg input {
	float: left!important;
}

.iden {
	width: 95%;
	margin: auto;
	border-radius: 5px;
}

.iden_label {
	font-size: 15px;
	color: gray;
	padding: 7px 12px;
}
header a {
	color: white;
}

#new_meet {
	width: 65%;
	margin: 8vw auto;
	border-radius: 3vw;
	border: 1px solid #2f89ce;
	background-color: #2F89CE;
	padding: 7px;
	color: white;
}

#mick,
#radio,
#green {
	float: left;
	background: #ccc;
	padding: 1px 5px;
	border-radius: 5px;
	color: white;
	font-size: 10px;
	line-height: 17px;
}

#room_detail {
	background: white;
	padding: 10px 7vw;
	font-size: 14px;
	color: gray;
	line-height: 27px;
	box-shadow: none;
	margin: 5px 0px 0px;
}

.select_room {
	overflow: hidden;
}

.select_room .mui-radio {
	width: 10%;
	height: 35px;
	float: left;
	overflow: hidden;
	margin-top: 10%;
}

.select_room .mui-radio label {
	display: none;
}

.select_room .mui-radio input {
	padding-left: 15px;
}

.select_room .mui-card {
	width: 90%;
	float: right;
	padding-right: 4%;
	margin: 0px;
}

.select_room .mui-card .mui-card-content {
	background: white;
	width: 100%;
	overflow: hidden;
}

.select_room .mui-card .mui-card-content img {
	margin-top: 4px;
	width: 40%;
	padding: 10px;
	float: left;
}

.room_detail {
	width: 44%;
	line-height: 2;
	float: left;
	margin-top: 3%;
	padding-left: 8px;
}

.room_name {
	font-size: 18px;
	font-weight: 600;
	color: #999999;
}

.room_setting {
	width: 33%;
	float: left;
}

.room_address {
	display: block;
	color: gray;
}

.room_captity {
	font-size: 20px;
	float: right;
	line-height: 5.5;
}

.use_time {
	background: white;
	padding: 10px 0 10px 7vw;
	overflow: hidden;
}

.little_time {
	width: 3.1vw;
	height: 30px;
	background: #CCCCCC;
	float: left;
}

.little_time1 {
	width: 1.21vw;
	height: 30px;
	background: #CCCCCC;
	float: left;
}

.room_foot {
	position: fixed;
	bottom: 0px;
	z-index: 3;
}

.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}

.mui-pages {
	top: 46px;
	height: auto;
}

.mui-scroll-wrapper,
.mui-scroll {
	background-color: #efeff4;
}

.mui-page.mui-transitioning {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}

.mui-page-left {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mui-ios .mui-page-left {
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}

.mui-navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	height: 44px;
	background-color:#4E78AC!important;
}

.mui-navbar .mui-bar {
	position: absolute;
	background: transparent;
	text-align: center;
}

.mui-android .mui-navbar-inner.mui-navbar-left {
	opacity: 0;
}

.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
	opacity: 0;
}

.mui-navbar .mui-btn-nav {
	-webkit-transition: none;
	transition: none;
	-webkit-transition-duration: .0s;
	transition-duration: .0s;
}

.mui-navbar .mui-bar .mui-title {
	display: inline-block;
	width: auto;
}

.mui-page-shadow {
	position: absolute;
	right: 100%;
	top: 0;
	width: 16px;
	height: 100%;
	z-index: -1;
	content: '';
}

.mui-page-shadow {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}

.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
	-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
	transition: opacity 300ms ease, transform 300ms ease;
}

.mui-page {
	display: none;
}

.mui-pages .mui-page {
	display: block;
}

.mui-page .mui-table-view:first-child {
	margin-top: 15px;
}

.mui-page .mui-table-view:last-child {
	margin-bottom: 30px;
}


.mui-table-view span.mui-pull-right {
	color: #999;
}

.mui-table-view-divider {
	background-color: #efeff4;
	font-size: 14px;
}

.mui-table-view-divider:before,
.mui-table-view-divider:after {
	height: 0;
}

.head {
	height: 40px;
}

#head {
	line-height: 40px;
}

.head-img {
	width: 40px;
	height: 40px;
}

#head-img1 {
	position: absolute;
	bottom: 10px;
	right: 40px;
	width: 40px;
	height: 40px;
}

.update {
	font-style: normal;
	color: #999999;
	margin-right: -25px;
	font-size: 15px
}

.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}

.mui-ios .mui-navbar .mui-bar .mui-title {
	position: static;
}


/*问题反馈在setting页面单独的css*/

#feedback .mui-popover {
	position: fixed;
}

#feedback .mui-table-view:last-child {
	margin-bottom: 0px;
}

#feedback .mui-table-view:first-child {
	margin-top: 0px;
}

.mui-plus.mui-plus-stream .mui-stream-hidden {
	display: none !important;
}
